.prof {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav{
    background: #f7f7f7;
    text-align: center;
    padding: 20px;
}

nav li{
    display:inline;
    margin: 0 15px 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color:#06bd06;
    text-decoration: underline;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.mara{
    display: inline-block;
    background: #9e376e94;
    margin: 20px;
    border-radius: 20px;
}

.maraimagem{
    display: inline-block;
    width: 15%;
    border-radius: 100%;
    float: left;
    margin: 20px;
}

.maratexto{
    display: inline;
    position: relative;
    vertical-align: top;
    top:100px;
    font-size: 30px;
}

.lucas{
    display: inline-block;
    background: #262a337a;
    margin: 20px;
    border-radius: 20px;
}

.lucasimagem{
    display: inline-block;
    width: 15%;
    border-radius: 100%;
    float: left;
    margin: 20px;
    
}

.lucastexto{
    display: inline;
    position: relative;
    vertical-align: top;
    top:100px;
    font-size: 30px;
}

.caua{
    display: inline-block;
    background: #0f2b7180;
    margin: 20px;
    border-radius: 20px;
}

.cauaimagem{
    display: inline-block;
    width: 15%;
    border-radius: 100%;
    float: left;
    margin: 20px;
}

.cauatexto{
    display: inline;
    position: relative;
    vertical-align: top;
    top:100px;
    font-size: 30px;
}

.maria{
    display: inline-block;
    background:  #934a5575;
    margin: 20px;
    border-radius: 20px;
    
}

.mariaimagem{
    display: inline-block;
    width: 15%;
    border-radius: 100%;
    float: left;
    margin: 20px;
}

.mariatexto{
    display: inline;
    position: relative;
    vertical-align: top;
    top:100px;
    font-size: 30px;
}

.barbara{
    display: inline-block;
    background:  #374e6e71;
    margin: 20px;
    border-radius: 20px;
}

.barbaraimagem{
    display: inline-block;
    width: 15%;
    border-radius: 100%;
    float: left;
    margin: 20px;
}

.barbaratexto{
    display: inline;
    position: relative;
    vertical-align: top;
    top:100px;
    font-size: 30px;
}

.copyright {
    text-align: center;
    margin: 20px;
}