.prof {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav{
    background: #f7f7f7;
    text-align: center;
    padding: 20px;
}

nav li{
    display:inline;
    margin: 0 15px 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

img {
    max-width: 30%;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.licenciado{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

.pos{
    text-align:center;
    font-size: 20px;
}

.pesquisador{
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}

.copyright {
    text-align: center;
    margin: 20px;
}

.paulo{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
    background: #ff000075;
    padding-top: 20px;
}

.freire{
    text-align:right;
    font-size: 30px;
    text-transform: uppercase;
    padding-right: 30px;
    padding-bottom: 20px;
    background: #ff000075;
}